body {
  font-family: Poppins;
  background-image: url("./pawel-czerwinski-pWhPIawuFQ0-unsplash.jpg");
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

main {
  text-align: center;
  color: black;
}

a {
  color: lightpink;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
}
